[user]
  name = Teemu Viikeri
  email = teemu.viikeri@haltu.fi
[init]
  defaultBranch = main
[core]
  editor = nvim
  attributesFile = /home/tiikeri/dotfiles/.gitattributes
[alias]
  amendpush = "!f() { git add ${@:-.} && git commit --amend --no-edit && git push -f; }; f"
  st = status
  sw = switch
[diff "python"]
  xfuncname = ^[ \\t]*def[ \\t]+.*$
